body {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightgreen;
}

#txt {
    text-align: center;
    font-size: 1em;
    margin-bottom: 10px;
    width: 100%;
}

input[type="button"] {
    font-size: 2em;
    margin-bottom: 10px;
}

@media screen and (min-width: 480px) {
    body {
        height: 100vh;
    }
    #txt {
        font-size: 2em;
        margin-bottom: 10px;
    }
}
